<div class="well" ng-if="tracker.bounty_total > 0 || tracker.tracker_type == 'Github::Repository'">
  <div ng-if="open_bounties">
    <a href ng-click="show_bounties()">
      <h3 class="text-center" style="margin-top: 0;">
        <span>{{open_bounties}}</span>
        <ng-pluralize count="open_bounties" when="{'1':'Open Bounty', 'other':'Open Bounties'}"></ng-pluralize>
      </h3>
    </a>
  </div>

  <div class="row">
    <div class="text-center" ng-class="{'col-md-6': tracker_stats.collected_total > 0, 'col-md-12': tracker_stats.collected_total == 0}"ng-show="tracker.bounty_total > 0">
      <a ng-click="show_bounties()"><h3 style="margin: 0; line-height:35px" class="text-center">{{tracker.bounty_total | dollars}}</h3></a>
      <div>in bounties</div>
    </div>

    <div class="text-center col-md-6" ng-show="tracker_stats.collected_total > 0">
      <a ng-click="show_claimed_bounties()"><h3 style="margin:0; line-height:35px;" class="text-center">{{tracker_stats.collected_total | dollars}}</h3></a>
      <div>claimed</div>
    </div>
  </div>

  <br ng-hide="tracker.bounty_total == 0">

  <div class="row" ng-if="tracker.tracker_type == 'Github::Repository'">
    <div class="col-md-6 text-center">
      <h3 style="margin: 0; line-height:35px;">{{tracker.forks || 0 | number}}</h3>
      <ng-pluralize count="tracker.forks" when="{ '1': 'fork', 'other': 'forks' }"></ng-pluralize>
    </div>
    <div class="col-md-6 text-center">
      <h3 style="margin: 0; line-height:35px;">{{tracker.watchers || 0 | number}}</h3>
      <ng-pluralize count="tracker.watchers" when="{ '1': 'watcher', 'other': 'watchers' }"></ng-pluralize>
    </div>
  </div>
</div>