<div ng-controller="TrackerLeaderboardController" ng-show="backers.length > 0" class="panel panel-default" style="padding-top: 0px; padding-bottom: 0px">
  <div class="panel-heading text-center">
    <strong>
      <ng-pluralize count="backers.length" when="{'1': 'Top Backer', 'other':'Top Backers'}"></ng-pluralize>
    </strong>
  </div>
  <div class="panel-body">
    <div class="top-backers-table">
      <div class="row" ng-repeat="backer in backers | orderBy:'-total_backed'| limitTo:3" style="margin-bottom: 10px;">
        <div class="col-md-4">
          <a owner-href="backer">
            <img class="img-responsive img-rounded" ng-src="{{backer.image_url}}" />
          </a>

        </div>
        <div class="col-md-8">
          <div><a owner-href="backer">{{backer.display_name}}</a></div>
          <div><strong>{{backer.total_backed | dollars}}</strong></div>
        </div>
      </div>
    </div>
  </div>
</div>
