<div class="row">
  <div class="col-sm-1" ng-if="comment.author_image_url">
    <img ng-show="comment.author_image_url" ng-src="{{comment.author_image_url}}" class="img-responsive thumbnail" />
  </div>
  <div class="col-sm-11">
    <p class="text-muted">{{comment.author_name}} on {{comment.created_at | date}}</p>

    <target-blank model="comment">
      <div ng-show="issue.$comment_ctype == 'html'" ng-bind-html="comment.body_html"></div>
      <div ng-show="issue.$comment_ctype == 'text'" style="white-space: pre-wrap;">{{comment.body_html}}</div>
    </target-blank>
  </div>
</div>